<%- include('./base/header.ejs') %>
<nav class="navbar navbar-expand-lg navbar-light bg-dark">
  <div class="container-fluid">
    <a class="navbar-brand" href="#" style="color: white">GPS</a>
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarNav"
      aria-controls="navbarNav"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a
            class="nav-link active"
            aria-current="page"
            href="/student/add/page"
            style="color: white"
            >Add Students</a
          >
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#" style="color: white">List Students</a>
        </li>
      </ul>
    </div>
  </div>
</nav>
<div class="container">
  <div class="alert text-center bg-primary my-3 w-30" style="color: white">
    <h4> Student List</h4>
  </div>
</div> 
<div class="container">
    <table class="table text-center">
        <thead>
            <tr>
                <th>Roll No</th>
                <th>Student No</th>
                <th>Father No</th>
                <th>Course</th>
                <th>Branch</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            <% students.forEach((student)=>{ %>
                <tr>
                    <td><%= student.rollNo %></td>
                    <td><%= student.studentName %></td>
                    <td><%= student.fatherName %></td>
                    <td><%= student.course %></td>
                    <td><%= student.branch %></td>
                    <td>
                      <a href="/edit/student/page/<%= student._id %>" class="btn btn-warning">Edit</a>
                      <a href="/delete/student/<%= student._id %>" class="btn btn-danger">Delete</a>
                    </td>
                </tr>
            <%})%>

        </tbody>
    </table>
</div> 
<%- include('./base/footer.ejs') %>
